<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concrete Compressive Strength Predction</title>
</head>
<body style="background-color: beige;">
    <h1>Concrete Compressive Strength Predction</h1>

    <form action="/get_data" method="post">
        <label>Cement:</label> <input type="number" name = 'html_Cement'> <br><br>
        <label>Blast Furnace Slag : <input type="number" name = 'html_Blast_Furnace_Slag'><br><br>
        <label>FlyAsh : <input type= "number" name = 'html_Fly_Ash'> <br><br>
        <label>Water : <input type= "number" name = 'html_Water'> <br><br>
        <label>Superplasticizer : <input type= "number" name = 'html_Superplasticizer'> <br><br>        
        <label>Coarse Aggregate : <input type= "number" name = 'html_Coarse_Aggregate'> <br><br>
        <label>Fine Aggregate : <input type= "number" name = 'html_Fine_Aggregate'> <br><br>
        <label>Age : <input type= "number" name = 'html_Age'> <br><br>

        <input type="submit" value="Compressive Strength">

    </form>


</body>
</html>